.footer {
    height: 110px;
    background-color: var(--color-six);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
}

.footer div {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo-footer{
    width: 60px; /* Ajusta el tamaño del logo según sea necesario */
    height: 60px;
    margin-right: 10px;
}

.icon-media{
    width: 28px;
    margin-right: 25px;
    margin-top: 10px;
}

.social-icon{
    flex-wrap: wrap;
}