.footer {
    height: 140px;
    background-color: var(--color-six);
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo-footer{
    height: 120px;
    width: 120px;
}

.icon-media{
    width: 28px;
    margin-right: 25px;
    margin-top: 10px;
}

.social-icon{
    flex-wrap: wrap;
}