/* Importamos Google Fonts para una tipografía mejorada */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap');

/* Configuración general y colores */
:root {
    --color-background: #f4f7f6; /* Color de fondo más suave */
    --color-form-background: #ffffff; /* Fondo del formulario */
    --color-primary: #46354e; /* Color primario moderno */
    --color-secondary: #c0b0c9; /* Color secundario complementario */
    --color-text: #001219; /* Color para el texto, mejora la legibilidad */
    --color-error: #e63946; /* Color para mensajes de error */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.formulario {
    width: 90%;
    max-width: 500px; /* Ajuste para limitar el ancho máximo */
    background-color: var(--color-form-background);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nombreCompleto {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los campos de nombre y apellido */
}

.contenedorinput, .contenedorinputEspecifico {
    margin-bottom: 1rem;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.textoError {
    color: var(--color-error);
    font-size: 0.8rem;
    position: absolute;
    bottom: -20px; /* Posición bajo el input */
}

.formulario button {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end; /* Alinear el botón a la derecha */
}

.formulario button:hover {
    background-color: var(--color-secondary);
}


@media (max-width: 1240px) {
  .contenedor {
    flex-direction: column;
}
}

/* Responsive Design */
@media (max-width: 768px) {
    .contenedor {
        width: 100%;
        max-width: none;
        flex-direction: column;
    }

    .nombreCompleto {
        flex-direction: column;
    }
}
