.cards-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto; */
  grid-gap: 30px;
  place-content: center;
  height: 100%;
}
.container-menu {
  margin: 164px 0 140px 0;
}

.container-menu div h4{
  padding-top: 20px;
  padding-left: 20px;
}

.category-container{
  display: flex;
  justify-content: space-evenly;
}
