
  .product-card {
    /* width: 240px; */
    height: 328px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid var(--color-one);
    flex-basis: calc(35% - 16px);
    margin: 3%;
  }
  
  
  .product-card img {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0 0 ;
    object-fit: cover;
  }
  
  .product-infor {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    align-items: center;
  }
  
  .product-infor div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--color-three)
  }
  
  .product-infor div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-one);
  }
  .product-infor button{
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10px;
    background-color: var(--color-five);
    border-radius: 13px;
    color: var(--color-three);
    border: 1px solid var(--color-one);
    height: 42px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
   
  }
  .product-infor button:hover{
    background-color: var(--color-three);
    color: var(--withe);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
@media screen  and (max-width: 670px){
  .product-card{
    flex-basis: calc(70% - 16px);
  }
}
@media screen and (max-width: 380px) {
  .company-slogan{
    display: none;
  }
  .footer div span{
    display: none;
  }
  
}
 