
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,600;1,700&family=Roboto:wght@100;400;500;700&display=swap');

.body-container-details{
    width: 100%;
    background-color: var(--color-two);
    height: 100%;
    justify-content: center;
    margin: 184px 0 140px 0;
    display: inline-flex;


}

.container-details {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 85%;
    height: 100%;
    background-color: var(--color-four);
}

.icono-atras {
    width: 2rem;
    height: 2rem;
    color: white;
    margin-left: 96%;
    margin-top: 0.625rem;
}

.caracteristicas {

    width: 50%;
}

.caracteristicas h1 {
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    color: var(--color-six);
    font-weight: bold;
    text-align: center;
}

.container-imagenes {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-imagenes img {
    width: 35%;
    height: 35%;
    margin: 5% 5%;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.img-carro {
    width: 80%;
    margin-left: 3.5rem;
}

.descripcion {
    margin: 5% 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.descripcion h2 {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--color-six);
}

.descripcion p {

    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--color-six);
}
.caracteristicas h3{
    font-family: 'Chakra Petch', sans-serif;
    margin: 3rem 7rem 3rem 7rem;
    color: var(--color-six);
}
.caracteristicas-extra{
    font-family: 'Roboto', sans-serif;
    color: var(--color-six);
}
.caracteristicas-extra hr{
    color: var(--color-three);
    height: 4px;
    background-color: var(--color-three);
    border-color: var(--color-three);
    border-style: none;
}
.caracteristicas-extra h3{
    font-family: 'Chakra Petch', sans-serif;
    margin: 3rem 3rem 1rem 7rem;
    color: var(--color-six);
    
}
 .bloque1{
    display: flex;
    justify-content: space-around;

}
.icon{
    display: flex;
 }

.bloque1 i{
   margin-top: 20px;
   margin-right: 10px;
}

.bloque2{
    display: flex;
    justify-content: space-around;

}
.bloque2 i{
    margin-top: 20px;
    margin-right: 10px;
 }


.arrow {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition:  0.3s;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.8);
}

.arrow-prev {
    left: 25px;
    z-index: 1;
}

.arrow-next {
    right: 25px;
    z-index: 1;
}

.carousel-container {
    position: relative;
}


.carousel-container img {
    max-height: 100vh;
    max-width: 100%;
    margin: auto;
    display: block;
}

.carousel-container .slick-dots {
    bottom: 10px;
}

.carousel-container .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.carousel-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}



.btn-ver-mas {
    background-color: #c0b0c9;
    /* Color de fondo */
    color: #FFFFFF;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interior del botón */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Esquinas redondeadas */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s;
    /* Transición suave al cambiar de color */
}

.btn-ver-mas:hover {
    background-color: #876797;
    /* Color de fondo al pasar el mouse */
}

@media screen  and (max-width: 760px){
    .caracteristicas{
        width: 80%;
    }
    .container-imagenes{
        justify-content: center;
    }
    .container-imagenes img{
      flex-basis: calc(70% - 16px);
      grid-gap: 30px;
      height: 20%;
    }
  }

  @media screen and (max-width:425px) {
    .container-imagenes img{
        flex-basis: calc(100% - 16px);
    }
    .caracteristicas h1{
        font-size: 150%;
    }
    .descripcion p {
        font-size: 80%;
    }
    .img-carro{
        margin: 7.5%;
    }
    .caracteristicas-extra h3{
        margin: 10%;
        text-align: center;
        font-size: 95%;
    }
  }