

  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,700;1,100&family=Roboto+Mono:ital,wght@0,400;0,600;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,700&family=Roboto:wght@300&display=swap');


.body-container-details{
    width: 100%;
    background-color: var(--color-two);
    height: 100%;
    justify-content: center;
    margin: 184px 0 140px 0;
    display: inline-flex;
    
    
}
.container-details{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 85%;
    height: 100%;
    background-color: var(--color-four);
}
.icono-atras{
    width:2rem;
    height:2rem;
    color: white;
    margin-left: 96%;
    margin-top: 0.625rem;
}
.caracteristicas{
    
    width: 50%;
}
.caracteristicas h1{
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    color: var(--color-six);
    font-weight: bold;
    text-align: center;
}
.container-imagenes{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-imagenes img{
    width: 35%;
    height: 10rem;
    margin: 1.25rem 2.3rem;
}
.contenedor-principal{
    display: flex;
   justify-content: space-between;
   margin: 1rem;
}
.img-carro{
    width: 80%;
    margin-left: 3.5rem;
}
.descripcion{
    margin: 3rem 7rem 3rem 7rem;
    font-family: 'Roboto', sans-serif;
}
.descripcion h3{
    
    font-size: 1.25rem;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: var(--color-six);
}

.caracteristicas h3{
    font-family: 'Chakra Petch', sans-serif;
    margin: 3rem 7rem 3rem 7rem;
    color: var(--color-six);
}
.caracteristicas-extra{
    font-family: 'Roboto', sans-serif;
    color: var(--color-six);
}
.caracteristicas-extra hr{
    color: var(--color-three);
    height: 4px;
    background-color: var(--color-three);
    border-color: var(--color-three);
    border-style: none;
}
.caracteristicas-extra h3{
    font-family: 'Chakra Petch', sans-serif;
    margin: 3rem 3rem 1rem 7rem;
    color: var(--color-six);
    
}
 .bloque1{
    display: flex;
    justify-content: space-around;

}
.bloque2{
    display: flex;
    justify-content: space-around;

}