.cat-card {
  width: 160px;
  height: 138px;
  
  border-radius: 18px;
  border: 1px solid var(--color-one);
  transition: all 0.7s;
  background-color: rgb(241, 241, 241);
}

.cat-img{
  width: 155px;
  height: 89px;
}

.cat-card:hover {
  transform: scale(1.03);
}

.cat-infor p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 8px;
  color: var(--dark);
  text-align: center;
}
