.cat-card {
  width: 205px;
  height: 158px;
  margin-top: 20px;
  border-radius: 18px;
  border: 1px solid var(--color-one);

}

.cat-infor p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 8px;
  color: var(--dark);
  text-align: center;
}
