.navbar-container {
    position: fixed;
    top: 0;
    background-color: var(--color-six);
    width: 100vw;

  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
  }
  
  .left-content {
    display: flex;
    align-items: center;
    margin-left: 28px;
  }
  
  .logo-link {
    text-decoration: none;
    color: #333; 
    display: flex;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
  }
  .logo-link span {
  
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
  }
  
  .logo-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .company-slogan {
    font-size: 1.2rem;
  }
  
  .right-content {
    display: flex;
    margin-right: 30px;
  }
  
  .nav-button {
    margin: 0 5px;
    padding: 8px 18px;
    /* background-color: grey; */
    color: grey;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .user{
    display: none;
  }








/* .navbar-container{
    top: 0;
    position: fixed ;
    width: 100%;
    

}

.navbar {
    height: 120px;
    background-color: var(--color-six);
    width: 100%;
    
}
